{% extends "base.html" %}

{% block content %}
  <div style="padding-left:16px">
  <h2> Welcome </h2> 
  <!-- <p>testing this thing </p> -->
 </div>


<title>Home Photos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="HomepgPhotos" style="max-width:1500px; width:100%; overflow:hidden">
  <!--<img class="mySlides w3-animate-fading" src="https://www.narcity.com/u/2019/04/08/8b1a691b16cb5175bfc3773c0c3b13d1.jpg" style="width:100%; height:50%">
  <img class="mySlides w3-animate-fading" src="https://www.saskatchewan.ca/~/media/images/environment/climate%20change%20prairie%20resilience/resilience%20banner%20-%20home%20page.jpg?la=en&hash=42553730AE313A26FD3D346985974982CB70B097" style="width:100%; height:50%">
  <img class="mySlides w3-animate-fading" src="https://i.cbc.ca/1.3197860.1440090017!/fileImage/httpImage/image.jpg_gen/derivatives/4x3_1180/dale-boan-saskatchewan-aurora.jpg" style="width:100%; height:50%">
  <img class="mySlides w3-animate-fading" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Flag_of_Saskatchewan.svg/1200px-Flag_of_Saskatchewan.svg.png" style="width:100%; height:50%">-->
  <img class="mySlides w3-animate-fading" style="background-image:url('https://i.cbc.ca/1.3197860.1440090017!/fileImage/httpImage/image.jpg_gen/derivatives/4x3_1180/dale-boan-saskatchewan-aurora.jpg');background-position:center; background-size: cover; width:100%; height:400px;">
  <img class="mySlides w3-animate-fading" style="background-image:url('https://www.saskatchewan.ca/~/media/images/environment/climate%20change%20prairie%20resilience/resilience%20banner%20-%20home%20page.jpg?la=en&hash=42553730AE313A26FD3D346985974982CB70B097');background-position:center; background-size: cover; width:100%; height:400px;">
  </div>

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 9000);    
}
</script>

</body>

<!-- <h1> Testing 1234 </h1>
<p> 1s</p>
<p> 1 </p>
<p> 1 </p> -->
 
{% endblock content %}